.popup {
    position: fixed;
    top: 20px; /* Adjust as needed */
    left: 20px; /* Adjust as needed */
    width: auto;
    height: auto;
    
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }
  
  .popup-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    
    text-align: center;
  }
  
  .popup-content p {
    margin-bottom: 10px;
  }
  
  .popup-content button {
    padding: 8px 16px;
    background-color: #111010;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .popup-content button:hover {
    background-color: #d8715d;
  }
  